* {
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-inline-size: 100%;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}