@use 'helpers' as *;

.cards {
  @include flex-box(row, space-between, initial, 20);
  margin-bottom: 200px;

  @media screen and (max-width: 376px) {
    @include flex-box(column, space-between, center, 30);
    margin-bottom: 90px;
  }
}

.text-center {
  text-align: center;
}

.card {
  flex: 1;
  max-width: 300px;
}