@use 'base';
@use 'layout';
@use 'typography';
@use 'modules';
@use 'normalize';
@use 'helpers' as *;

.first-block {
  @include flex-box($direction: column, $justify:initial);
  text-align: center;
  margin: auto;

  & .item--pictures {
    @include flex-box;
    flex-wrap: wrap;

    @media screen and (max-width: 768px) {
      @include flex-box;
      flex-wrap: nowrap;
    }

    @media screen and (max-width: 420px) {
      @include flex-box($direction: column, $justify:initial, $align: center);
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 768px) {
    .card--first {
      width: 380px;
    }
  }
  @media screen and (max-width: 420px) {
    .card--first {
      width: 300px;
    }
  }
}

.divider {
  width: 30px;
  border: 1px solid #ececed;
}

.second-block {
  @include flex-box($direction: column, $justify:initial);
  text-align: center;
  margin: auto;
  padding: 100px 0 150px 0;

  @media screen and (max-width: 768px) {
    padding: 50px 0 50px 0;
  }

  & .cards--pictures {
    flex-wrap: wrap;
    @include flex-box;

    @media screen and (max-width:420px) {
      justify-content: center;
    }

    @media screen and (max-width:768px) {
      .card-pictures {
        max-width: 238px;
      }
    }

    @media screen and (max-width: 420px) {
      .card-pictures {
        max-width: 352px;
      }
    }
  }
}

.third-block {
  @include flex-box($direction: column, $justify:initial);
  padding: 0 0 130px 0;
  margin: auto;

  @media screen and (max-width: 768px) {
    padding: 0 0 80px 0;
  }

  & .image--pictures {
    @include flex-box;
    flex-wrap: wrap;

    @media screen and (max-width: 420px) {
      justify-content: space-around;
    }

    @media screen and (max-width: 768px) {
      .image-big {
        max-width: 275px;
      }
    }

    @media screen and (max-width: 420px) {
      .image-big {
        min-width: 300px;
      }
    }

    & .text-content--pictures {
      max-width: 400px;
      width: 100%;

      @media screen and (max-width: 768px) {
        max-width: 270px;
      }
    }
  }
}

.shopping {
  padding: 9px 24px;
  @extend %font-title-pictures;
  letter-spacing: 2px;
  border: 0;
  color: #fff;
  animation-name: btn;
  animation-duration: 1.5s;
  animation-play-state: paused;
  animation-fill-mode: both;
  &:hover {
    animation-play-state: running;
    animation-iteration-count: infinite;
  }
  &:active {
    box-shadow: 0 0 20px 6px gray;
    animation: none;
    background-color: rgba(29, 31, 46, 1);
  }
}
@keyframes btn {
  0% {background-color: rgba(29, 31, 46, 1);}
  10% {background-color: red;color: #000;}
  20% {background-color: orange;color: #000;}
  30% {background-color: yellow;color: #000;}
  60% {background-color: green;color: #000;}
  70% {background-color: lightblue;color: #000;}
  80% {background-color: blue;color: #000;}
  90% {background-color: purple;color: #000;}
  100% {background-color: rgba(29, 31, 46, 1);}
}

.image-content {
  max-width: 460px;
  @include flex-box;
  flex-wrap: wrap;
  
  @media screen and (max-width:768px) {
    max-width: 640px;
    gap: 10px;
  }

  @media screen and (max-width: 420px) {
    max-width: 640px;
    gap: 10px;
    justify-content: space-around;
  }

  & .image-content-small {
    @include flex-box($direction: column);

    @media screen and (max-width: 420px) {
      flex-direction: row;
      min-width: 300px;
    }
    @media screen and (max-width: 768px) {
      gap: 10px;
    }

    & .image-small {
      @media screen and (max-width: 768px) {
        height: 140px;
      }

      @media screen and (max-width: 420px) {
        height: 120px;
        width: 140px;
      } 
    }
  }
}


