@mixin flex-box ($direction: row, $justify: space-between, $align: initial, $gap: 17) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: #{$gap}px;
}

@mixin font-style ($size:12px, $line-h: 18px, $color: #1d1f2e) {
  font-weight: 400;
  font-size: $size;
  line-height: $line-h;
  color: $color;
}